{% extends 'layouts/base.html.twig' %} {% block title %}Register!{% endblock %}
{% block body %} {{ include("layouts/partials/_nav.html.twig") }}{% for
flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div class="container text-center">
  {{ form_start(registrationForm) }}
  <div>
    <h1>Register</h1>
  </div>
  <div>
    <div>{{ form_row(registrationForm.prenom) }}</div>
    <div>{{ form_row(registrationForm.nom) }}</div>
  </div>
  <div class="">
    <div>{{ form_row(registrationForm.email) }}</div>
    <div>
      {{ form_row(registrationForm.plainPassword, { label: "Password" }) }}
    </div>
    <div>
      {{ form_row(registrationForm.agreeTerms) }}
    </div>
  </div>
  <div>
    <a href="{{ path('app_home') }}">Retour page d'Acceuil</a>
  </div>
  <div class="">
    <button type="submit" class="btn">Register</button>
  </div>

  {{ form_end(registrationForm) }}
</div>
{% endblock %}
