<!-- ======================================================================= -->
<!-- Parallax []-->
<!-- ======================================================================= -->
<article
  class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
>
  <div class="parallax">
    <div class="parallax__layer parallax__layer__0">
      <img
        src="{{ asset('/build/images/parallax/layer_0.8a5bd521.png') }}"
        alt=""
      />
    </div>
    <div class="parallax__layer parallax__layer__1">
      <img
        src="{{ asset('/build/images/parallax/layer_1.8726fe38.png') }}"
        alt=""
      />
    </div>
    <div class="parallax__layer parallax__layer__2">
      <img
        src="{{ asset('/build/images/parallax/layer_2.96706e77.png') }}"
        alt=""
      />
    </div>
    <div class="parallax__layer parallax__layer__3">
      <img
        src="{{ asset('/build/images/parallax/layer_3.90d00521.png') }}"
        alt=""
      />
    </div>
    <div class="parallax__layer parallax__layer__4">
      <img
        src="{{ asset('/build/images/parallax/layer_4.c6056167.png') }}"
        alt=""
      />
    </div>
    <div class="parallax__layer parallax__layer__5">
      <img
        src="{{ asset('/build/images/parallax/layer_5.cacbe1ee.png') }}"
        alt=""
      />
    </div>
    <div class="parallax__layer parallax__layer__6">
      <img
        src="{{ asset('/build/images/parallax/layer_6.7b9c9d4b.png') }}"
        alt=""
      />
    </div>
    <div class="parallax__cover"></div>
  </div>
</article>
