<section class="slider">
  <article class="container_slider">
    <div class="slider__wrapper">
      <input checked type="radio" name="slider" id="slide1" />
      <input type="radio" name="slider" id="slide2" />
      <input type="radio" name="slider" id="slide3" />
      <input type="radio" name="slider" id="slide4" />
      <input type="radio" name="slider" id="slide5" />

      <div class="slider-wrapper">
        <div class="inner">
          <article>
            <div class="info top-left">
              <h3>TrickName</h3>
            </div>
            <img
              src="{{ asset('/build/images/slider/slide_01.2b299962.jpg') }}"
            />
          </article>

          <article>
            <div class="info bottom-right">
              <h3>TrickName</h3>
            </div>
            <img
              src="{{ asset('build/images/slider/slide_02.fda8fc9d.jpg') }}"
            />
          </article>

          <article>
            <div class="info bottom-left">
              <h3>TrickName</h3>
            </div>
            <img
              src="{{ asset('build/images/slider/slide_03.f2b46063.jpg') }}"
            />
          </article>

          <article>
            <div class="info top-right">
              <h3>TrickName</h3>
            </div>
            <img
              src="{{ asset('build/images/slider/slide_04.43cb7816.jpg') }}"
            />
          </article>

          <article>
            <div class="info bottom-left">
              <h3>TrickName</h3>
            </div>
            <!-- <img
              src="{{ asset('build/images/slider/slide_05.a98328d6.jpg') }}"
            /> -->
          </article>
        </div>
        <!-- .inner -->
      </div>

      <div class="slider-prev-next-control">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div>

      <div class="slider-dot-control">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div>
    </div>
  </article>
</section>
