<!-- =================================================================== -->
<!-- Section Header Wrapper session (Navigation)--> 
<!-- =================================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>


<header class="header">
  <div class="container_project container_project--pall
          flex flex-jc-sb flex-ai-c">
    <div class="logo"></div>
      <!-- <lu>
        <li>Home</li>
        la liste des figures
        <li>Tricks</li>
        <li>Sign in</li>
        <li>Sign up</li>
      </lu> -->

      <nav
        class="
          container_project container_project--pall
          flex flex-jc-sb flex-ai-c
        "
      >


        <!-- logo ici -->
      <img src="{{ asset('/build/images/logo.e4b8d680.png') }}" alt="logo"
            width="70"
            height="70"/>

        <!-- hamburger -->
        <!-- au clic lance le js -->
        <a id="btnHamburger" href="#" class="header__toogle hide-for-desktop">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="header__links hide-for-mobile">
          <a class="nav-link" href="{{ path('app_home') }}">Home</a>
          <a class="nav-link" href="{{ path('app_tricks_create') }}">Create</a>
          <a class="nav-link" href="{{ path('app_register') }}">Register</a>
          <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        </div>
      </nav>
    </div>
  </div>
</header>
