{{ form_start(form) }}
{{ form_widget(form) }}
{# #} {# Display following only for 'app_trick_edit' #} {% if
app.request.attributes.get('_route') == 'app_tricks_edit' %}
<h2>Images</h2>
{% for photo in trick.photo %}
<div>
  <img
    src="{{ asset('/uploads/' ~ photo.name)|imagine_filter('squared_thumbnail_medium')}}"
    alt="Image"
  />
  {# Supprimer la photo{id} selectionné rattache au trick{id}#} {#
  TrickController deletePhoto() #}
  <a
    href="{{
      path('app_delete_photo', { id: photo.id })
    }} data-delete data-token={{ csrf_token('delete'~ photo.id )}} "
    >Delete</a
  >
</div>
{% endfor %} {% endif %} {# #} {# #}
<input
  type="submit"
  value="{{ submitButtonText|default('Create Trick') }}"
  formnovalidate
/>
{{ form_end(form) }}
