{{ form_start(form) }}
{{ form_widget(form) }}
{# #} {# Display following only for 'app_trick_edit' #} {% if
app.request.attributes.get('_route') == 'app_tricks_edit' %}
<h2>Images</h2>
{% for photo in trick.photo %}
<div>
  <img
    src="{{ asset('/uploads/' ~ photo.name)|imagine_filter('squared_thumbnail_medium')}}"
    alt="Image"
  />
  {# Supprimer la photo{id} selectionné rattache au trick{id}#} {#
  TrickController deletePhoto() #}
  <a
    href="{{
      path('app_delete_photo', { id: photo.id })
    }} data-delete data-token={{ csrf_token('delete'~ photo.id )}} "
    >Delete</a
  >
</div>
{% endfor %} {% endif %} {# #} {# #}
<input
  type="submit"
  value="{{ submitButtonText|default('Create Trick') }}"
  formnovalidate
/>
{{ form_end(form) }}
{# id pour pouvoir le cible en js #} {# attribut data-*
https://developer.mozilla.org/fr/docs/Learn/HTML/Howto/Use_data_attributes #} {#
form widget
https://developer.mozilla.org/fr/docs/Learn/Forms/Basic_native_form_controls #}
<div
  id="trick_list"
  data-prototype="{{ form_widget(form.trick.vars.prototype)|e('html_attr') }}"
  {#
  boucle
  {%
  for
  row
  in
  form.trick
  %}
  {{
  form_row(row)}}
  {%
  endfor
  %}
  #}
></div>
