<div class="container">
  {# {{ form_widget(form, { attr: { class: "form-control" } }) }} #}

  {{ form_start(form) }}
  {{ form_row(form.nom) }}
  {{ form_row(form.description) }}
  {{ form_row(form.category) }}

  {# Form d'ajout de photos #}
  <ul
    id="photos-fields-list"
    data-prototype="{{ form_widget(form.photos.vars.prototype) | e }}"
    data-widget-tags="{{ '<li></li>' | e }}"
    data-widget-counter="{{ form.photos | length }}"
  >
    {% for photoField in form.photos %}

    <li>
      {{ form_errors(photoField.name) }}
      {{ form_widget(photoField.name) }}
    </li>

    {% endfor %}
  </ul>

  {# bouton d'ajout photos #}
  <button
    type="button"
    class="add-another-collection-widget"
    data-list-selector="#photos-fields-list"
  >
    Add another photos
  </button>

  {# Form d'ajout de videos #}
  <ul
    id="videos-fields-list"
    data-prototype="{{ form_widget(form.videos.vars.prototype) | e }}"
    data-widget-tags="{{ '<li></li>' | e }}"
    data-widget-counter="{{ form.videos | length }}"
  >
    {% for videoField in form.videos %}

    <li>
      {{ form_errors(videoField.name) }}
      {{ form_widget(videoField.name) }}
    </li>

    {% endfor %}
  </ul>

  {# bouton d'ajout videos #}
  <button
    type="button"
    class="add-another-collection-widget"
    data-list-selector="#videos-fields-list"
  >
    Add another videos
  </button>

  {# Bouton de soumission #}
  <input
    type="submit"
    value="{{ submitButtonText|default('Create Trick') }}"
    formnovalidate
  />

  {{ form_end(form) }}
</div>

<script>
  // add-collection-widget.js
  jQuery(document).ready(function () {
    jQuery(".add-another-collection-widget").click(function (e) {
      var list = jQuery(jQuery(this).attr("data-list-selector"));

      // Try to find the counter of the list or use the length of the list
      var counter = list.data("widget-counter") || list.children().length;

      // grab the prototype template
      var newWidget = list.attr("data-prototype");

      // replace the "__name__" used in the id and name of the prototype
      // with a number that's unique to your emails
      // end name attribute looks like name="contact[emails][2]"
      newWidget = newWidget.replace(/__name__/g, counter);

      // Increase the counter
      counter++;

      // And store it, the length cannot be used if deleting widgets is allowed
      list.data("widget-counter", counter);

      // create a new list element and add it to the list
      var newElem = jQuery(list.attr("data-widget-tags")).html(newWidget);
      newElem.appendTo(list);
    });
  });
</script>
