{% extends 'layouts/base.html.twig' %} {% block title %}'Best tricks learing!'{%
endblock %} {% block body %}
<!-- ======================================================================= -->
<!-- Navigation ici -->
<!-- ======================================================================= -->
{{ include("layouts/partials/_nav.html.twig") }}
<!-- ======================================================================= -->
<!-- Cover -->
<!-- ======================================================================= -->
<div class="row">

    <div class="cover text-center">

      <img src=" {{ asset('build/images/cover.jpg') }}" alt="Image a la une" class="img-responsive" width="100%"
      alt="Image de presentation">
      
      <div class="textoverlay">
        <h1>"The Best trick ever" </h1>
        <p>Brough to you by nitro.</p>
      </div>

      <div class="fleche">
        <button type="button" class="btn btn-outline-secondary mb-2">
          fleche ici
          <i class="fa-solid fa-arrow-down-from-dotted-line"></i>
        </button></a>
      </div>

      <a href="#bas"
      >
    </div>
</div>

<!-- ======================================================================= -->
<!-- Card Model-->
<!-- Content [Listing des articles] -->
<!-- ======================================================================= -->
<div class="container-xxl mt-2">
  {% if tricks|length > 0 %}
  <a name="haut">...</a>
  {% for row in tricks|batch(5)%}
  <div class="row mt-5 mb-5">
    {% for trick in row %}
    <div class="col-md-4 mt-4 mb-4">
      <article class="trick bg-white rounded shadow">
        <div class="mw-100 overflow-hidden rounded-top">
          <a href="{{ path('app_tricks_show', { slug: trick.slug }) }}">
            {# {{ foo ? "yes" : "no" }} #}
            <img
              src="{{ trick.photos is not empty ? asset('/uploads/'~ trick.photos.first.name) : asset('/build/images/placeholder.29b24e4f.jpg')|imagine_filter('squared_card')}}"
              alt="{{ trick.nom }}"
              class="w-100"
              height="250"
            />
          </a>
        </div>

        <!-- ============================================================= -->
        <!-- Card Buttons -->
        <!-- ============================================================= -->
        <div class="flex-row border">
          <div>
            <a
              href="{{ path('app_tricks_edit', { slug: trick.slug }) }}"
              class="btn btn-primary"
              >Edit
            </a>
            <form
              method="post"
              action="{{ path('app_tricks_delete', { slug: trick.slug }) }}"
              onsubmit="return confirm('êtes-vous sûre de vouloir supprimer?');"
            >
              <input
                type="hidden"
                name="_token"
                value="{{ csrf_token('trick_deletion_' ~ trick.id) }}"
              />
              <button class="btn btn-primary">Supprimer</button>
            </form>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
  {% endfor %} {% else %}
  <p class="h1 mt-5 text-center">
    No tricks yet <a href=" {{ path('app_tricks_create') }}">Be the first! </a>
  </p>
  {% endif %}
  <a name="bas">...</a>

  <!-- ===================================================================== -->
  <!-- LOAD MORE Button --> 
  <!-- Ajouter un id pour le js -->
  <!-- ===================================================================== -->
  {% set pages = (total/limit)| round(0, 'ceil') %} 
  

  {% if total >= 15 %}
    <div class="row col-md-12 text-center">
      <a href="{{ (page < pages ) ? '?page=' ~  (page + 1) : '' }}" 
        >{#Page actuel +1 limite au nombre de pages max #}
        <button type="button" class="btn btn-secondary btn-lg" value="">LOAD MORE</button>
      </a>
        {% endif %}
      {# Get data with XMLHttpRequest #}
    <div class="row text-center">
      <a href="#haut"
        ><button type="button" class="btn btn-outline-secondary mb-2">
          Arrow
          <i class="fa-solid fa-arrow-up-from-dotted-line"></i>
        </button></a
        >
      

    </div>
  </article>
</div>
{% endblock %}
{% block javascript %}
<script src="build/js/app.js"></script>
{% endblock %}


