{% extends 'layouts/base.html.twig' %} {% block title %}'Best tricks learing!'{%
endblock %} {% block body %}
<!-- ======================================================================= -->
<!-- Section - Introduction -->
<!-- ======================================================================= -->
<section class="intro">
  <!-- ======================================================================= -->
  <!-- Parallax []-->
  <!-- ======================================================================= -->
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <div class="parallax">
      <div class="parallax__layer parallax__layer__0">
        <img src="/assets/images/parallax/layer_0.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__1">
        <img src="/assets/images/parallax/layer_1.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__2">
        <img src="/assets/images/parallax/layer_2.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__3">
        <img src="/assets/images/parallax/layer_3.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__4">
        <img src="/assets/images/parallax/layer_4.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__5">
        <img src="/assets/images/parallax/layer_5.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__6">
        <img src="/assets/images/parallax/layer_6.png" alt="image_parallax" />
      </div>
      <div class="parallax__cover"></div>
    </div>
  </article>
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <!-- =================================================================== -->
    <!-- text_overlay -->
    <!-- =================================================================== -->
    <div class="">
      <div><h2>Backcountry.com</h2></div>
      <div>
        <h3>"The Best Tricks Ever 2022"</h3>
        <h5>Brought to you by</h5>
        <div>
          <img src="" alt="logo" />
        </div>
      </div>
    </div>
  </article>
</section>
<!-- ======================================================================= -->
<!-- Slider grande image de figures -->
<!-- ======================================================================= -->
<section class="slider">
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <div class="slider">
      <input
        type="radio"
        name="slider"
        title="slide1"
        checked="checked"
        class="slider__nav"
      />
      <input type="radio" name="slider" title="slide2" class="slider__nav" />
      <input type="radio" name="slider" title="slide3" class="slider__nav" />
      <input type="radio" name="slider" title="slide4" class="slider__nav" />
      <div class="slider__inner">
        <div class="slider__contents">
          <i class="slider__image fa fa-codepen"></i>
          <h2 class="slider__caption">slider</h2>
          <p class="slider__txt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
            cupiditate omnis possimus illo quos, corporis minima!
          </p>
        </div>

        <div class="slider__contents">
          <i class="slider__image fa fa-newspaper-o"></i>
          <h2 class="slider__caption">newspaper-o</h2>
          <p class="slider__txt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
            cupiditate omnis possimus illo quos, corporis minima!
          </p>
        </div>

        <div class="slider__contents">
          <i class="slider__image fa fa-television"></i>
          <h2 class="slider__caption">television</h2>
          <p class="slider__txt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
            cupiditate omnis possimus illo quos, corporis minima!
          </p>
        </div>

        <div class="slider__contents">
          <i class="slider__image fa fa-diamond"></i>
          <h2 class="slider__caption">diamond</h2>
          <p class="slider__txt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
            cupiditate omnis possimus illo quos, corporis minima!
          </p>
        </div>
      </div>
    </div>
  </article>
</section>

<!-- ======================================================================= -->
<!-- Content [Listing des articles] -->
<!-- ======================================================================= -->
<section class="">
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <div class="row">
      <div class="cards">
        {% if tricks|length > 0 %} {# card here #} {% for trick in tricks %}
        <div>
          <div>
            <div>{{ trick.nom }}</div>
            <a href=" {{ path('app_tricks_show', { id: trick.id }) }}">
              <!--Afficher image random de la galerie si vide afficher place holder-->
              <img
                src="{{ asset('images/placeholder.jpg')|imagine_filter('squared_thumbnail_medium') }}"
                alt="{{ trick.nom }}"
                class=""
              />
              {# build/images/placeholder.jpg #}
            </a>
          </div>
          <div>
            <a href=" {{ path('app_tricks_edit', { id: trick.id }) }}">Edit</a>
            <a href=" {{ path('app_tricks_delete', { id: trick.id }) }}"
              >Delete</a
            >
          </div>
        </div>
        {% endfor %} {% else %}
        <p class="">
          No Trick yet
          <a href=" {{ path('app_tricks_create') }}">Be the first! </a>
        </p>
        {% endif %}
      </div>
    </div>

    <div class="content">
      {# {{ include("layouts/partials/_nav.html.twig") }} #} {#
      https://codepen.io/ig_design/pen/VwedgWj #}
    </div>
  </article>
</section>
{% endblock %} {# App_home #} {# template base | body scss | foreach tricks |
items paralax container for slider #} {#Best paralax - Montain-
https://codepen.io/samdbeckham/pen/OPXPNp #} {#Best cards - Sport - #}
