{% extends 'layouts/base.html.twig' %} {% block title %}'Best tricks learing!'{%
endblock %} {% block body %}
<!-- ======================================================================= -->
<!-- Section - Introduction -->
<!-- ======================================================================= -->
<section class="intro">
  {#} {{ include("tricks/_parallax.html.twig") }}
  {{ include("tricks/_slider.html.twig") }} {#}

  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <!-- =================================================================== -->
    <!-- text_overlay -->
    <!-- =================================================================== -->
    <div class="">
      <div><h2>Backcountry.com</h2></div>
      <div>
        <h4>"The Best Tricks Ever 2022"</h4>
        <h4>Brought to you by</h54
        <div>
          <img src="{{ asset('/build/images/logo.png') }}" alt="" />
          <img
            src="{{ asset('/build/images/logo_nitro1.f726295d.png') }}"
            alt=""
          />
        </div>
      </div>
    </div>
  </article>
</section>
<!-- ======================================================================= -->
<!-- Navigation ici -->
<!-- ======================================================================= -->
{{ include("layouts/partials/_nav.html.twig") }}
<!-- ======================================================================= -->
<!-- Content [Listing des articles] -->
<!-- ======================================================================= -->
<section class="content">
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <div class="row">
      <div class="cards">
        {% if tricks|length > 0 %} {# card here #} {% for trick in tricks %}

        <div>
          <div>
            <a href=" {{ path('app_tricks_show', { id: trick.id }) }}">
              <img
              src="{{ asset('/build/images/placeholder.29b24e4f.jpg')|imagine_filter('squared_thumbnail_medium')}}"
              alt="{{ trick.nom }}"
              />
              {# trick.photo numero 1 get photo #}
            </a>
            <div>{{ trick.nom }}</div>

          </div>
          <div>
            <a href=" {{ path('app_tricks_edit', { id: trick.id }) }}">Edit</a>
            <a href=" {{ path('app_tricks_delete', { id: trick.id }) }}"
              >Delete</a
            >
          </div>
        </div>

        {% endfor %} {% else %}
        <p class="">
          No Trick yet
          <a href=" {{ path('app_tricks_create') }}">Be the first! </a>
        </p>
        {% endif %}
      </div>
    </div>

    <div class="content">
      {# {{ include("layouts/partials/_nav.html.twig") }} #} {#
      https://codepen.io/ig_design/pen/VwedgWj #}
    </div>
  </article>
</section>
{% endblock %} {# App_home #} {# template base | body scss | foreach tricks |
items paralax container for slider #} {#Best paralax - Montain-
https://codepen.io/samdbeckham/pen/OPXPNp #} {#Best cards - Sport - #}
