{% extends 'layouts/base.html.twig' %} {% block title %}'Best tricks learing!'{%
endblock %} {% block body %}
<!-- ======================================================================= -->
<!-- Section - Introduction -->
<!-- ======================================================================= -->
<section class="intro">
  <!-- ======================================================================= -->
  <!-- Parallax []-->
  <!-- ======================================================================= -->
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <div class="parallax">
      <div class="parallax__layer parallax__layer__0">
        <img src="/assets/images/parallax/layer_0.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__1">
        <img src="/assets/images/parallax/layer_1.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__2">
        <img src="/assets/images/parallax/layer_2.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__3">
        <img src="/assets/images/parallax/layer_3.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__4">
        <img src="/assets/images/parallax/layer_4.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__5">
        <img src="/assets/images/parallax/layer_5.png" alt="image_parallax" />
      </div>
      <div class="parallax__layer parallax__layer__6">
        <img src="/assets/images/parallax/layer_6.png" alt="image_parallax" />
      </div>
      <div class="parallax__cover"></div>
    </div>
  </article>
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <!-- =================================================================== -->
    <!-- text_overlay -->
    <!-- =================================================================== -->
    <div class="">
      <div><h2>Backcountry.com</h2></div>
      <div>
        <h3>"The Best Tricks Ever 2022"</h3>
        <h5>Brought to you by</h5>
        <div>
          <img src="" alt="logo" />
        </div>
      </div>
    </div>
  </article>
</section>
<!-- ======================================================================= -->
<!-- Navigation ici -->
<!-- ======================================================================= -->
{{ include("layouts/partials/_nav.html.twig") }}
<!-- ======================================================================= -->
<!-- Slider grande image de figures -->
<!--https://codepen.io/trungk18/pen/EydyoL -->
<!-- ======================================================================= -->
Slider ici faire l'installation.
<!-- <section class="slider">
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <div class="wrapper">
      <input checked type="radio" name="slider" id="slide1" />
      <input type="radio" name="slider" id="slide2" />
      <input type="radio" name="slider" id="slide3" />
      <input type="radio" name="slider" id="slide4" />
      <input type="radio" name="slider" id="slide5" />

      <div class="slider-wrapper">
        <div class="inner">
          <article>
            <div class="info top-left">
              <h3>Malacca</h3>
            </div>
            <img
              src="https://farm9.staticflickr.com/8059/28286750501_dcc27b1332_h_d.jpg"
            />
          </article>

          <article>
            <div class="info bottom-right">
              <h3>Cameron Highland</h3>
            </div>
            <img
              src="https://farm6.staticflickr.com/5812/23394215774_b76cd33a87_h_d.jpg"
            />
          </article>

          <article>
            <div class="info bottom-left">
              <h3>New Delhi</h3>
            </div>
            <img
              src="https://farm8.staticflickr.com/7455/27879053992_ef3f41c4a0_h_d.jpg"
            />
          </article>

          <article>
            <div class="info top-right">
              <h3>Ladakh</h3>
            </div>
            <img
              src="https://farm8.staticflickr.com/7367/27980898905_72d106e501_h_d.jpg"
            />
          </article>

          <article>
            <div class="info bottom-left">
              <h3>Nubra Valley</h3>
            </div>
            <img
              src="https://farm8.staticflickr.com/7356/27980899895_9b6c394fec_h_d.jpg"
            />
          </article>
        </div>
        <!-- .inner -->
      </div>
      <!-- .slider-wrapper -->

      <div class="slider-prev-next-control">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div>
      <!-- .slider-prev-next-control -->

      <div class="slider-dot-control">
        <label for="slide1"></label>
        <label for="slide2"></label>
        <label for="slide3"></label>
        <label for="slide4"></label>
        <label for="slide5"></label>
      </div>
      <!-- .slider-dot-control -->
    </div>
  </article>
</section> -->

<!-- ======================================================================= -->
<!-- Content [Listing des articles] -->
<!-- ======================================================================= -->
<section class="content">
  <article
    class="container_project container_project--pall flex flex-jc-sb flex-ai-c"
  >
    <div class="row">
      <div class="cards">
        {% if tricks|length > 0 %} {# card here #} {% for trick in tricks %}


        <div>
          <div>
            <div>{{ trick.nom }}</div>
            <a href=" {{ path('app_tricks_show', { id: trick.id }) }}">
              <!--Afficher image random de la galerie si vide afficher place holder-->
              <img src="/assets/images/placeholder.jpg" alt="">
              <img
                src="{{ asset('images/placeholder.jpg"')|imagine_filter('squared_thumbnail_medium') }}"
                alt="{{ trick.nom }}"
                class=""
              />
              {# build/images/placeholder.jpg #}
            </a>
          </div>
          <div>
            <a href=" {{ path('app_tricks_edit', { id: trick.id }) }}">Edit</a>
            <a href=" {{ path('app_tricks_delete', { id: trick.id }) }}"
              >Delete</a
            >
          </div>
        </div>


        {% endfor %} {% else %}
        <p class="">
          No Trick yet
          <a href=" {{ path('app_tricks_create') }}">Be the first! </a>
        </p>
        {% endif %}
      </div>
    </div>

    <div class="content">
      {# {{ include("layouts/partials/_nav.html.twig") }} #} {#
      https://codepen.io/ig_design/pen/VwedgWj #}
    </div>
  </article>
</section>
{% endblock %} {# App_home #} {# template base | body scss | foreach tricks |
items paralax container for slider #} {#Best paralax - Montain-
https://codepen.io/samdbeckham/pen/OPXPNp #} {#Best cards - Sport - #}
