{% extends 'layouts/base.html.twig' %} {% block title %}'Best tricks learing!'{%
endblock %} {% block body %}
<!-- ======================================================================= -->
<!-- Navigation ici -->
<!-- ======================================================================= -->
{{ include("layouts/partials/_nav.html.twig") }}

<!-- ======================================================================= -->
<!-- Carrousel Fullwide-->
{# _quick.scss #}
<!-- ======================================================================= -->

<!-- ======================================================================= -->
<!-- Card Model-->
<!-- Content [Listing des articles] -->
<!-- ======================================================================= -->
<div class="container mt-2">
  {% if tricks|length > 0 %}
  <h2 class="mb-4 text-center text-muted">
    {{ pluralize(tricks | length, "Trick") }}
  </h2>
  <a name="haut">...</a>

  {% for row in tricks|batch(4)%}
  <div class="row mt-5 mb-5">
    {% for trick in row %}
    <div class="col-md-4">
      <article class="trick bg-white rounded shadow">
        <div class="mw-100 overflow-hidden rounded-top">
          <a href="{{ path('app_tricks_show', { slug: trick.slug }) }}">
            {# {{ foo ? "yes" : "no" }} #}
            <img
              src="{{ trick.photos is not empty ? asset('/uploads/'~ trick.photos.first.name) : asset('/build/images/placeholder.29b24e4f.jpg')|imagine_filter('squared_thumbnail_medium')}}"
              alt="{{ trick.nom }}"
              class="w-100"
            />
          </a>
        </div>

        <div class="mt-2 mb-2 text-center">
          <!-- ============================================================= -->
          <!-- Edit button -->
          <!-- ============================================================= -->
          <a
            href="{{ path('app_tricks_edit', { slug: trick.slug }) }}"
            class="btn btn-primary"
            >Edit</a
          >
          <!-- ============================================================= -->
          <!-- Delete button  -->
          <!-- ============================================================= -->
          <form
            method="post"
            action="{{ path('app_tricks_delete', { slug: trick.slug }) }}"
            onsubmit="return confirm('êtes-vous sûre de vouloir supprimer?');"
          >
            {#} isCsrfTokenValid('trick_deletion_' . $trick->getId() {#}
            <input
              type="hidden"
              name="_token"
              value="{{ csrf_token('trick_deletion_' ~ trick.id) }}"
            />

            <button class="btn btn-primary">Supprimer</button>
          </form>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
  {% endfor %} {% else %}
  <p class="h1 mt-5 text-center">
    No tricks yet <a href=" {{ path('app_trick_create') }}">Be the first! </a>
  </p>
  {% endif %}

  <!-- ======================================================================= -->
  <!-- Composant de Pagination -->
  <!-- ======================================================================= -->

  {# boucle 1 au derniere page calculer le nbr de page requis 58:36#} {# Astuce
  < expression dans href 1 disable href précedent et ~> disable href suivant #}
  {#}
  <article class="row border">
    {% if tricks|length > 0 %}
    <div class="col-md-4 mt-2">
      <nav aria-label="Page navigation example">
        {% set pages = (total/limit)| round(0, 'ceil') %}
        <ul class="pagination">
          <li class="page-item {{ page == 1 ? 'disable' : '' }}">
            <a
              class="page-link"
              href="{{ (page > 1) ? '?page=' ~  (page - 1) : '' }}"
              >Precedent</a
            >
          </li>

          {% for item in 1.. pages %}

          <li class="page-item">
            <a class="page-link" href="?page{{ item }}">{{ item }}</a>
          </li>

          {% endfor %}

          <li class="page-item {{ page == pages ? 'disable' : '' }}">
            <a
              class="page-link"
              href="{{ (page < pages ) ? '?page=' ~  (page + 1) : '' }}"
              >Suivant</a
            >
          </li>
        </ul>
      </nav>
    </div>
    {% endif %}
    <div class="row text-center">
      <a href="#haut"
        ><button type="button" class="btn btn-outline-secondary mb-2">
          Arrow
        </button></a
      >
    </div>
  </article>
  {#}
</div>
{% endblock %}
