{% extends 'layouts/base.html.twig' %}{% block title %}Show!{% endblock %} {%
block body%} {# Page de detail.#}
{{ include("layouts/partials/_nav.html.twig") }}
<!-- ======================================================================= -->
<!-- Section slider -->
<!-- ======================================================================= -->
section slider
<section class="slider">
  <article class="container_project">
    <h3>Slider ici</h3>
  </article>
</section>
<!-- ======================================================================= -->
<!-- Section sous slider (illustration des figures.)-->
<!-- ======================================================================= -->
section illustration
<section class="illustration">
  <article class="container_project">
    <!-- foreach avec une limite de 3 max -->
    <!-- Variable "photos" does not exist.   |batch(3) -->

    {{ dump(trick) }}
    collection photos
    {{ dump(photos) }}
    collection videos
    {{ dump(videos) }}
    {% for photo in photos %} {% endfor %} {% for photo in photos %} {% endfor
    %}

    <!-- foreach 3 first video |batch(3) -->
    {% for video in videos %} {% endfor %}
  </article>
</section>
<!-- ======================================================================= -->
<!-- Section description + buttons -->
<!-- ======================================================================= -->
section description
<section class="description">
  <article class="container_project">
    <div>
      <p>{{ trick.description }}</p>
    </div>
    <div class="">
      <div>    
        <p>Date de création:</p>
        {{ trick.createdAt|date("m/d/Y") }}
        <time datetime="{{ trick.createdAt|date("m/d/Y") }}"</time> 
      </div>
      <div>
        <p>Groupe:</p>
        {{ trick.groupe }}
      </div>
      <div>
        <p>Modifié le:</p>
        {{ trick.updatedAt|date("m/d/Y") }}
        <time datetime ="{{ trick.updatedAt|date("m/d/Y") }}"</time>         
      </div>
    </div>
  </article>
</section>
<!-- ======================================================================= -->
<!-- Section leave comment -->
<!-- ======================================================================= -->
section leaveComment
twig si connecte user uniquement
<section class="leaveComment">
  <article class="container_project">
    <h6>Veuilez saisir votre commentaire!</h6>
    <div>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <input
        type="submit"
        value="{{ submitButtonText|default('Soumettre') }}"
        formnovalidate
      />
      {{ form_end(form) }}
    </div>
  </article>
</section>
<!-- ======================================================================= -->
<!-- Section getComments -->
<!-- ======================================================================= -->
section getComments
<section class="getComments">
  <article class="container_project">
    foreache comment in comments
    {{ dump(comments) }}
    {{ dump(photos) }}
    {{ dump(videos) }}
    {% for comment in comments %}
    {# <p>{{ comment.userfullname }}</p> 
    <p>{{ comment.avatar }}</p> 
    <p>{{ comment.content }}</p>
    <p>{{ comment.createdat }}</p>    #}
    {% endfor %}
  </article>
</section>
{% endblock body %}


