{% extends 'layouts/base.html.twig' %}
{% block title %}Show!{% endblock %} 
{%block body %} 
{# Page de detail.#}
<div class="container">
  <div class="header">
    {{ include("layouts/partials/_nav.html.twig") }}
  </div>
 {# Slider #}
  <div>  
    <div class="row">
      Slider ici
    </div>
    <h2>{{ trick.nom|capitalize }}</h2>
  </div>
<!-- ======================================================================= -->
<!-- Illustration photos et videos -->
<!-- ======================================================================= -->
 
 <div class="row">
   <div>
     {% if trick.photos.count > 0 %}
      {% for image in trick.photos %}
        <img
        src="{{ asset('/uploads/'~ image.name)|imagine_filter('squared_thumbnail_medium')}}"
        alt="Photo preview"
        />
      {% endfor %}
     {% endif %}
    </div>

    <div>
      {% if trick.videos.count > 0 %}
        {% for video in trick.videos %}
        preview video ici
        {% endfor %}
      {% endif %}  
    </div>

  </div>

<!-- ======================================================================= -->
<!-- Description du trick -->
<!-- ======================================================================= -->

  <div class="row">
    {{ trick.description }}   
  </div>
  {# Invormations sur le trick #}
  <div class="row">

    <div>
      <p>Date de création:</p>
      {{ trick.createdAt|date("m/d/Y") }}
      <time datetime="{{ trick.createdAt|date("m/d/Y") }}"</time> 
    </div>

    <div>
      <p>Groupe:</p>
      {#{ trick.category }#}
    </div>

    <div>
      <p>Modifié le:</p>
      {{ trick.updatedAt|date("m/d/Y") }}
      <time datetime ="{{ trick.updatedAt|date("m/d/Y") }}"</time>         
    </div>

  </div>

  {# Champs ajout de commentaire #}
  <div class="row">
    <h6>Veuilez saisir votre commentaire!</h6>
    <div>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <input
        type="submit"
        value="{{ submitButtonText|default('Soumettre') }}"
        formnovalidate
      />
      {{ form_end(form) }}
    </div>
  </div>

  {# Liste des commentaires #}
  <div class="row">
    {% for comment in trick.comments %}
    <p>{{ comment.content|raw }}</p>
    <p>{{ comment.createdat|date("m/d/Y") }}</p>
    {# <p>{{ comment.userfullName}}</p> 
    <p>{{ comment.avatar }}</p> 
        #}
    {% endfor %}

  </div>
  {# Pagination #}
  <div class="row">Pagination</div>

</div>
{% endblock %}  
