{% extends 'layouts/base.html.twig' %}{% block title %}Show!{% endblock %} {%
block body%} {# Page de detail.#}
<!-- ======================================================================= -->
<!-- Section slider -->
<!-- ======================================================================= -->
section slider
<section class="slider">
  <article class="container_project">
    <h3>Slider ici</h3>
  </article>
</section>
<!-- ======================================================================= -->
<!-- Section sous slider (illustration des figures.)-->
<!-- ======================================================================= -->
section illustration
<section class="illustration">
  <article class="container_project">
    <!-- foreach avec une limite de 3 max -->
    <!-- Variable "photos" does not exist.   |batch(3) -->
    trick.getPhoto
    {{ dump(trick) }}
    {{ dump(photos) }}
    {{ dump(videos) }}
    {% for photo in photos %} {% endfor %} {% for photo in photos %} {% endfor
    %}

    <!-- foreach 3 first video |batch(3) -->
    {% for video in videos %} {% endfor %}
  </article>
</section>
<!-- ======================================================================= -->
<!-- Section description + buttons -->
<!-- ======================================================================= -->
section description
<section class="description">
  <article class="container_project">
    <div>
      <p>{{ trick.description }}</p>
    </div>
    {# {{ trick.createdat }}
    {{ trick.groupe }}
    {{ trick.updatedat }} #}
  </article>
</section>
<!-- ======================================================================= -->
<!-- Section leave comment -->
<!-- ======================================================================= -->
section leaveComment
<section class="leaveComment">
  <article class="container_project">
    <h6>Veuilez saisir votre commentaire!</h6>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    button submit
    {{ form_end(form) }}
  </article>
</section>
<!-- ======================================================================= -->
<!-- Section getComments -->
<!-- ======================================================================= -->
section getComments
<section class="getComments">
  <article class="container_project">
    foreache comment in comments
    {{ dump(comments) }}
  </article>
</section>
{% endblock body %}
