{% extends 'layouts/base.html.twig' %}
{% block title %}Show!{% endblock %}
{%block body %}
{# Page de detail.#}
{{ include("layouts/partials/_nav.html.twig") }}
<div class="container">
  <!-- ======================================================================= -->
  <!-- Image à la une -->
  <!-- ======================================================================= -->
  <article class="row">

    <div class="cover">

      <img src=" {{ trick.photos is not empty ? asset('/uploads/'~ trick.photos.first.name) : asset('/build/images/placeholder.29b24e4f.jpg')}}" alt="Image a la une" class="img-responsive" width="100%"
      alt="Image">

      <div class="textoverlay2 text-center">

        <div class="col-md-12">
            <h2 class="col" >{{ trick.nom|capitalize }}</h2>
            <a href="{{ path('app_tricks_edit', {slug: trick.slug})}}">
              <img src="https://img.icons8.com/material/24/000000/edit--v5.png"
              />
            </a>
    
            <a href="{{ path('app_tricks_edit', {slug: trick.slug})}}">
              <img src="https://img.icons8.com/material/50/000000/delete-trash.png"
              />
            </a>

        </div>


      </div>

    </div>
  </article>

  <!-- ======================================================================= -->
  <!-- Illustration photos et videos -->
  <!-- ======================================================================= -->
  <article class="row justify-content-around mt-3">
    <div class="col-md-12">
     {% if trick.photos.count > 0 %}
      {% for image in trick.photos %}
        <img
        src="{{ asset('/uploads/'~ image.name)|imagine_filter('squared_thumbnail_medium')}}"
        alt="Photo preview" 
        />
      {% endfor %}
     {% endif %}
    </div>
    {# Videos #}
    <div class="col-md-12">
      {% if trick.videos.count > 0 %}
        {% for video in trick.videos %}
          {{ video.embedded | raw}}
        {% endfor %}
      {% endif %}
    </div>
  </article>

  <!-- ======================================================================= -->
  <!-- Description du trick -->
  <!-- ======================================================================= -->
  <article class="row justify-content-md-center">
    <div class="col-md-10 mt-3 mb-3 ">
      {{ trick.description }}
    </div>
  </article>


  {# informations sur le trick #}
  <article class="row justify-content-md-center">
    <div class="col-md-auto">
      <p>Date de création:</p>
      {{ trick.createdAt|date("m/d/Y") }}
      <time datetime="{{ trick.createdAt|date("m/d/Y") }}"</time>
    </div>
    <div class="col-md-auto">

      <p>Groupe:</p>

      {#{ trick.category }#}
    </div>
    <div class="col-md-auto">
      <p>Modifié le:</p>
      {{ trick.updatedAt|date("m/d/Y") }}
      <time datetime ="{{ trick.updatedAt|date("m/d/Y") }}"</time>
    </div>
  </article>

  {# Champs ajout de commentaire #}
  {% if app.user %}
  <article class="row  justify-content-center mt-4 mb-5">
    <div class="col-md-4">
      <h6>Veuilez saisir votre commentaire!</h6>
      <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input
          type="submit"
          value="{{ submitButtonText|default('Soumettre') }}"
          formnovalidate
        />
        {{ form_end(form) }}
      </div>
    </div>
  </article>
  {% endif %}

  {# Liste des commentaires #}
  <article class="row">
      <div class="col-md-4">
        <h2>Liste des commentaires</h2>
      </div>
      {# pas de commentaire identique text #}
      {% for comment in trick.comments |sort %}
      <div class="row">
        {# Card #}
        <div class="">
          <div class="col-lg-12">
              <img
              src="{{ asset('/build/images/avatar/'~ random([
                    '41bdfe5c5.jpg',
                    '13cfe5fcea.jpg',
                    '38a5992c89.jpg',
                    '442bdb7113.jpg',
                    '68471d22cb.jpg',
                    '8002f0691f.jpg'
              ]))|imagine_filter('squared_thumbnail_medium')}}"
              class="bg-info rounded-circle" alt="Avatar aleatoire"
              />
          </div>
          <div>
            <p>{{ comment.content|raw }}</p>
            <p>{{ comment.createdat|date("m/d/Y") }}</p>
          </div>
          {{ trick.user.fullname }}
        </div>
      </div>
      {% endfor %} {# fin boucle card #}
  </article>
</div>
{% endblock %}
